.banner-pro {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.adv-banner-pro {
  object-fit: cover;
  position: absolute;
  transform: translateY(-206px);
}


.text-cate {
  grid-column: 1 / 3;

  height: 50px;
  display: flex;

  margin-left: 20px;
  display: flex;
  align-items: center;
}

.content-cate {
  grid-column: 1 / 3;
}

.content-cate > p {
  display: flex;
  justify-content: start;
  margin: 10px 0 10px 35px;
}

.content-cate > ul {
  display: flex;
  list-style: none;
  padding-left: 15px;
  font-size: 14px;
}

.content-cate > ul > li > input {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.content-filter-head {
  grid-column: 1 / 3;
  background-color: #ffffff;
  border-radius: 10px;
  /* margin-top: 15px; */
  height: 218px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.content-filter-age {
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 257px;
  margin-top: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.text-fotage {
  height: 50px;
  display: flex;

  margin-left: 20px;
  display: flex;
  align-items: center;
}

.content-filter-brand {
  grid-column: 1/3;
  background-color: #ffffff;
  border-radius: 10px;
  margin-bottom: 15px;
  height: 488px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.text-brand {
  height: 50px;
  display: flex;

  margin-left: 20px;
  display: flex;
  align-items: center;
}

.main-pro-list {
  grid-column: 4/13;
  
}

.head-sort {
  border-radius: 10px;
  height: 56px;
  width: 880px;
  background-color: #fff;

  /* margin-top: 15px; */
  
}

.head-sort li:hover {
  background-color: #ff379b;
  color: #fff;
  border-color: #fff;
}

.head-sort li.active {
  background-color: #ff379b;
  color: #fff;
  border-color: #fff;
}

.head-sort > ul > li {
  padding: 10px 14px;
  height: 36px;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
  color: #404040;
  line-height: 14px;
  text-transform: capitalize;
  background: #fff;
  border: 1px solid #eaeaea;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-family: "Poppins";

  /* background-color: #ff379b; */
}

.head-sort > ul {
  display: flex;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 10px;
  background-color: #fff;
  border-radius: 10px;
  padding-left: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.result-product > .element-product {
  display: grid;
  grid-template-rows: 150px 65px 25px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
  width: 160px;
  height: 250px;
  
  font-size: 14px;
  font-family: "Poppins";
  transition: all 0.3s ease;
}

.result-product {
  display: grid;
  grid-template-columns: repeat(5, 4fr);
  gap: 20px;
}

.imgpng {
  position: relative;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.element-img {
  height: 150px;
}

.element-product > p {
  display: flex;
  justify-content: start;
  font-size: 12px;
  margin: 10px;
}

.element-price {
  display: flex;
  align-items: flex-start;
  text-align: left;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  margin-left: 10px;
  font-weight: 600;
  font-size: 17px;
}

#icon-cart {
  margin-right: 10px;
}

/* .icon-cart {
    line-height: 14px;
    right: 0px;
    bottom: 0px;
    width: 32px;
    height: 32px;
    position: relative;
} */

.body-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-icon-product-page {
  padding-right: 10px;
  display: flex;
  border-radius: 50%;
  background-color: #dddcdc;
  height: 30px;
  width: 30px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.icon-cart-product-page{
 cursor: pointer;
 
}
.under-line {
  display: flex;
  height: 750px;
  width: auto;
}

.filter-under-line {
  display: flex;
  height: 50px;
  width: auto;
}

.sticky-navbar {
  
  z-index: 1000; 
}
html {
  scroll-behavior: smooth;
}

.all-filter {
  width: 180px;
  height: 500px;
  overflow: auto;
}

.filter-product {
  height: auto;
  width: 100%;
}

.filter-product > div {
  width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 97px);


  background-color: white;
  

  margin-top: 20px;
}


.element-brand {
  
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eaeaea;
  
}


.element-img-brand {
  width: 150px;
  height: 150px;
}

.box-white {
  background-color: #f5f7fc;
  
  
}
