.form-change {
    grid-column: 9 / 13;
    display: grid;
    grid-template-columns: repeat(4, 80px);
    column-gap: 20px;
    width: 380px;
    height: 480px;
    background-color: #FFFFFF;
    margin: 60px 166px 60px 0;
    font-family: 'Poppins';
    border-radius: 10px;
    border: 1px solid black;
}


.form-change>div {
    display: grid;
    margin-bottom: 10px;
    grid-column: 1 / 5;
}

.form-change>div>input {
    height: 45px;
    width: 314px;
    display: flex;
    outline: none;
    margin-left: 30px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 20px;
    border: 0.5px solid #a89c9c;
}

.form-change>div>label {
    margin-left: 30px;
    font-size: 16px;
    letter-spacing: 0.64px;
    color: rgba(0, 0, 0, 0.70);
}

.form-change>p {
    display: flex;
    grid-column: 1 / 5;
    font-size: 16px;
    font-family: 'Poppins';
    justify-content: center;
}

.form-change>p>a {
    color: #FF0000;
    margin-left: 10px;
}

.form-change>a {
    grid-column: 3 / 5;
    color: #5A86BF;
    font-family: 'Poppins';
    margin-top: -10px;
    text-decoration: none;
}


.text-enter-mail {
    grid-column: 1 / 5;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
}

.two-button>.button-cancel {
    width: 145px;
    height: 45px;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    justify-content: center;
    padding-left: 0px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    border: 0.5px solid;
    cursor: pointer;
    color: #F54282;
    background: #FFFFFF;
    margin-left: 25px;
}


.text-msg {
    margin-left: 35px;
    font-size: 14px;
    font-family: 'Poppins';
    color: #FF0000;
}

.form-change>.two-button {
    display: flex;
    height: 50px;
    margin-bottom: 0px;
    transform: translateY(15px);
}

.two-button>.button-continue {
    width: 145px;
    height: 45px;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins';
    border: 0.5px solid;
    cursor: pointer;
    color: #FFFFFF;
    background: #F54282;
}