.header {
  width: 100%;
  height: 200px;
  box-shadow: 0 1px 5px -2px black;
}

.top-navbar {
  height: 40px;
  background: #fdf4fb;
}

.bottom-navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

.bottom-navbar .nav-link.active {
  background-color: #b60052 !important;
}

.bottom-navbar a:hover {
  background-color: #b60052;
  color: rgb(255, 255, 255);
}

.top-navbar-list {
  font-size: 14px;
  height: 100%;
  background: #fdf4fb;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.login {
  display: flex;
  align-items: center;
}

.login button {
  font-size: 14px;
  font-family: "Poppins";
  border: 0;
  background: none;
  cursor: pointer;
}

.navbar-search {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo-img {
  width: 90px;
  height: 95px;
  overflow: hidden;
  margin-left: 20px;
  cursor: pointer;
}

.box-search {
  width: 559px;
  height: 40px;
  display: flex;
  align-items: center;
  background: #ff379b;
  border-radius: 10px;
  padding: 5px 0 5px 4px;
  margin-left: 80px;
}

.box-search input {
  width: 510px;
  height: 32px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: 20px;
  padding-left: 20px;
}
.box-search button {
  border: none;
  background-color: #ff379b;
  padding: 0;
}

.icon-search {
  margin: 2px 0 0 10px;
  cursor: pointer;
}

.cart-noti-icons {
  display: flex;
  align-items: center;
  color: black;
}

.icon-cart {
  display: flex;
}

.icon-noti {
  margin-left: 40px;
  display: flex;
  color: black;
  position: relative;
  cursor: pointer;
}

.cart-icon {
  color: black;
}

.cart-count {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  margin-top: -12px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: white;
}

.bottom-navbar {
  height: 60px;
  background-color: #ff379b;
}

.bottom-navbar-list {
  -webkit-text-fill-color: white;
  height: 60px;
  margin: 0;
  font-style: italic;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
}

.bottom-navbar-list li {
  margin: 50px;
}

a.white {
  -webkit-text-fill-color: white;
}

.user-menu {
  position: relative;
  display: inline-block;
  z-index: 50;
}

.menu-box {
  position: absolute;
  width: 130px;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s, visibility 0.1s;
}

.menu-box a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #333;
  border-bottom: 0.5px solid #ccc;
}

.user-menu:hover .menu-box {
  opacity: 1;
  visibility: visible;
}
.avatar {
  display: flex;
}
.avatar > img {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.noti-box {
  position: absolute;
  width: 500px;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  cursor: pointer;
  z-index: 50;
}


.icon-noti .active {
  opacity: 1;
  visibility: visible;
}

.noti-box.hide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.element-noti {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.5px solid #ccc;
}

.text-noti {
  width: 400px;
  margin-left: 20px;
}

.status-noti {
  margin-left: 20px;
}

.status-noti input {
  width: 20px;
  height: 20px;
  margin: 0;
  margin-bottom: 20px;
  transform: translateX(2px);
}

.img-noti > img {
  width: 45px;
  height: 45px;
  
}

.icon-trash-all {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.icon-trash-all > img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}

.unread {
  background-color: antiquewhite;
}

.unread:hover {
  background-color: white;
  cursor: pointer;
}
