.container {
  background-color: #f5f7fc;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adv-banner {
  width: 100%;
  height: 500px;
}

.suggest {
  text-align: center;
  border-bottom-width: 2px;
  border-bottom: 3px solid #ff69b4;
  padding-bottom: 10px;
}

.img-card {
  width: 240px;
  height: auto;
  margin-bottom: 5px;
}

.home-product {
  width: 100%;
  height: auto;
}

.home-product > div {
  width: 1180px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 80px);
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
}

.box-card {
  padding: 15px;
}

.card {
  width: 280px;
  height: 400px;
  background-color: white;

  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.header-card {
  display: flex;
  justify-content: center;
}

.body-card {
  height: 50px;
  margin-bottom: 10px;
  font-size: 17px;
  font-family: Helvetica;
  font-weight: bold;
  color: #6d6568;
}

.footer-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.price {
  margin: 0;
}

p {
  margin: 0;
}

.load-more {
  display: flex;
  justify-content: center;
}
.box-shopping {
  border-radius: 50%;
  background-color: #dddcdc;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-shopping {
  cursor: pointer;
}

.load-more > button {
  height: 35px;
  width: 240px;
  margin: 35px 0;
  border-radius: 5px;
  border: 2px solid #ff469e;
  font-weight: 800;
  font-family: "Poppins";
  background-color: #ffffff;
  cursor: pointer;
  color: #ff469e;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition-duration: 500ms;

  &:hover {
    background-color: #ff469e;
    color: #ffffff;
    transform: translateY(-2px);
  }
}

.rate-star {
  width: 120px;
  margin-right: 10px;
}

.rate-sold {
  display: flex;
  font-family: Helvetica;
  align-items: flex-start;
  margin-bottom: 1px;
  font-style: italic;
}